* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* 1rem === 10px */
}
body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("/src/cool-background.png");
  background-size: cover;
}
